@using Raftel.Blazor.Menu 
@inherits LayoutComponentBase

<div class="page">
    <div class="logo">
        <img class="image"src="Inknet.png"/>
    </div>
     <AppMenu />
    <main class="Raftel-body">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>